<div fxLayout="row wrap">
    <div class="fullBox">
        <div class="fullbox_20">
            <div class="minibox parent">
                <app-card-dashboard></app-card-dashboard>
            </div>
            <div class="minibox parent">
                <app-cardwithgraph-dashboard></app-cardwithgraph-dashboard>
            </div>
        </div>
        <div class="fullBox_80">
            <div class="box_22 parent">
                <app-iconcard-dashboard [texto1]="texto1" [texto2]="texto4" [iconname]="icon1"></app-iconcard-dashboard>
            </div>
            <div class="box_22 parent">
                <app-iconcard-dashboard [texto1]="texto2" [texto2]="texto5" [iconname]="icon2"></app-iconcard-dashboard>
            </div>
            <div class="box_22 parent">
                <app-iconcard-dashboard [texto1]="texto3" [texto2]="texto6" [iconname]="icon3"></app-iconcard-dashboard>
            </div>
            <div class="boxgraph_80">
                <app-graph1-dashboard></app-graph1-dashboard>
            </div>
        </div>
        <div class="box_30">
            <app-card-face-book-icon></app-card-face-book-icon>
        </div>
        <div class="box_30">
            <app-activity-card-component></app-activity-card-component>
        </div>
        <div class="box_30">
            <app-sales-card></app-sales-card>
        </div>
        <div class="fullBox">
            <app-table-dasboard></app-table-dasboard>
        </div>
    </div>
</div>