<mat-card class="principalDiv">
    <div class="insideDiv1">
        <div class="minimargins">
            <span class="texto letraTitle">Social Source</span>
        </div>
    </div>
    <div class="insideDiv1">
        <div class="insideDiv1 centericon">
            <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
                <mat-icon>facebook</mat-icon>
              </button>
        </div>
        <div class="spaceicons center-item">
            <span class="texto letraBolder">Facebook</span>&nbsp;<span class="minleter">- 125 sales</span>
        </div>
        <div class="center-item">
            <p class="texto minleter">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lorem nulla, tristique id gravida quis, pellentesque ac ex. Sed non elementum urna.
            </p>
        </div>
        <div class="texto purpleColor center-item space-down">
            <span>Learn More</span>
        </div>
    </div>
    <div class="insideDiv1">
        <div class="div-icon30">
            <app-social-network-icon [icon]="icon1" [color]="color1" [texto1]="socialNetworkName1" [texto2]="socialNetworkCount1"></app-social-network-icon>
        </div>
        <div class="div-icon30">
            <app-social-network-icon [icon]="icon2" [color]="color2" [texto1]="socialNetworkName2" [texto2]="socialNetworkCount2"></app-social-network-icon>
        </div>
        <div class="div-icon30">
            <app-social-network-icon [icon]="icon3" [color]="color3" [texto1]="socialNetworkName3" [texto2]="socialNetworkCount3"></app-social-network-icon>
        </div>
    </div>
</mat-card>