<mat-card class="principalDiv">
    <div class="divOne">
        <div class="divtext texto margintext">
            <span class="mintitle">Monthly Early</span>
        </div>
        <div class="divtext texto margintext">
            <span class="minSubTitle">This Month</span>
        </div>
        <div class="divtext texto margintext">
            <span class="mintitle">$34, 252</span>
        </div>
        <div class="divtext texto margintext">
            <span class="min-min-title-green">12 %</span>&nbsp;
            <span class="min-min-title">From Previous Period</span>
        </div>
        <div class="divtext texto margintext">
            <button mat-raised-button color="primary">View More</button>
        </div>
    </div>
    <div class="divTwo">
        <app-progress-circle></app-progress-circle>
    </div>
    <div class="footerDiv">
        <div class="divtext texto" style="margin-bottom: 7%;">
            <span class="minSubTitle">We craft digital, graphic and dimensional thinking</span>
        </div>
    </div>
</mat-card>