<mat-card class="divPrincipal">
    <div class="divPrincipal">
        <app-activity-component [color]="color1" [fecha]="fecha_1" [texto]="texto_1"></app-activity-component>
    </div>
    <div class="divPrincipal">
        <app-activity-component [color]="color1" [fecha]="fecha_2" [texto]="texto_2"></app-activity-component>
    </div>
    <div class="divPrincipal">
        <app-activity-component [color]="color2" [fecha]="fecha_3" [texto]="texto_3"></app-activity-component>
    </div>
    <div class="divPrincipal">
        <app-activity-component [color]="color1" [fecha]="fecha_4" [texto]="texto_4"></app-activity-component>
    </div>
    <div class="divPrincipal">
        <div class="center">
            <button mat-raised-button color="primary">View Profile</button>
        </div>
    </div>
</mat-card>