<mat-card class="divPrincipal">
    <div class="divItem">
        <span class="texto bolderText leftText">To Cities Seeling Product</span>
    </div>
    <div class="divItem texto bolderText centerText">
        <span class="material-icons iconFontType">
            favorite
            </span>
    </div>
    <div class="divItem">
        <div class="divItem centerText">
            <span class="texto bolderText">1,456</span>
        </div>
        <div class="divItem centerText">
            <span class="texto lightText">San Francisco</span>
        </div>
    </div>
    <div class="divItem">
        <app-sales-card-data [city]="city1" [number]="number1" [value]="value1"></app-sales-card-data>
        <app-sales-card-data [city]="city2" [number]="number2" [value]="value2"></app-sales-card-data>
        <app-sales-card-data [city]="city2" [number]="number3" [value]="value3"></app-sales-card-data>
    </div>
</mat-card>